##################
## Delphi
##################

Win32/
Win64/
__history/ 
*.local
*.identcache

##################
## Windows
#########1########

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
